.NotesSection__container {
  
}

.NotesSection__container__empty {
  display: flex;
  align-items: center;
  justify-content:center;
  
}
.noemp
{
	color:white;
}

.table tr td #heading
{
	margin-right:40px ;
}

.tbhead
{
	background-color: dodgerblue;

}
