 @import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.InputSection__container {

  display: flex;
  align-items: center;
  flex-direction: column;
 box-shadow:10px 10px 10px 10px black;
 padding:40px 40px 40px 40px;
  input, textarea {
    min-width: 400px;
    border: solid 1px gray;

    border-radius: 0.3em;
    padding: 0.5em;    
    margin: 0.5em;
    font-size: 10pt;
  }  

  h6
  {
   font-family: courgette;
    color: white;
  }
  .InputSection__container__btnWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
    button {
      background-color: #FF1493;
      border: none;
      color: white;
      font-size: 10pt;
      border-radius: 0.3em;
      padding: 0.5em;
    }
  }
}