.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.line {
  width: 100%;  
  border-bottom: solid 1px gray;
  margin-top: 1em;
  margin-bottom: 1em;
}
h1
{
	 font-family: courgette;
	  color: white;
}
.navb
{
	background-color:  #EE82EE;
  width: 100%;
  position: fixed;
  top: 0;
  margin-bottom: 50px !important;
  z-index: 999;

}
.main
{
  margin:100px 40px 40px 40px;

}
@media only screen and (max-width: 600px) {

 h1
 {
  font-size: 18px;
 }

.navb
{
  padding: 10px 10px 10px 10px;
}
}



